* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    background-color: darkslategray;
}


h1 {
    font-size: 36px;
    color: #fdfdfd;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #f1f1f1;
    text-align: left;
}

h4 {
    font-size: 20px;
    color: #ffffff;
}

h5 {
    font-size: 18px;
    color: #ffffff;
}

h6 {
    font-size: 16px;
    color: #fffcfc;
}


p {
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
}

div {
    text-align: left;
}

span {
    color: #0066cc;
    font-size: 14px;
}


.destaque {
    color: #e74c3c;
    font-size: 16px;
}


.secao {
    text-align: center;
}


.link-social {
    color: #16a085;
    font-size: 15px;
}


.tecnologia {
    color: #856d8f;
    font-size: 14px;
}

.estudos atuais {
    background-color: #f1f1f1;
    border-left: #856d8f;

}