* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    background-color: rgb(65, 14, 94);
}


h1 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #ffffff;
    text-align: left;
}

h4 {
    font-size: 20px;
    color: #ffffff;
}

h5 {
    font-size: 18px;
    color: #ffffff;
}

h6 {
    font-size: 16px;
    color: #ffffff;
}


p {
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
}

div {
    text-align: left;
}

span {
    color: #0066cc;
    font-size: 14px;
}

.links-pessoais {
    background-color: #0066cc;
    border-radius: 8px;

}

.estudos-atuais {
    background-color: #0066cc;
    border-radius: 8px;

}

.tecnologias {
    background-color: #0066cc;
    border-radius: 8px;
}